@charset "UTF-8";
/* ページ内リンクの位置調整 */
section {
  margin-top: -70px;
  padding-top: 70px;
}
.zoom:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.zoom-small:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

img {
  object-fit: contain;
}